.flame-graph-view {
  background-color: white;
  padding: 20px;
  overflow: auto;
}

.flame-graph-frame {
  cursor: default;
  box-sizing: border-box;
  padding: 2px;
  background-color: rgb(242, 163, 111);
  border: 1px solid white;
}

.flame-graph-status-bar-item.flame-graph-is-tracing {
  color: #d80000;
}
